@{
    ViewBag.Title = "TestPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container laning-container">
    <div class="row border-bottom">
        <div class="col-sm-4 col-md-4" style="padding-right: 0px;">
            <h3>PERSONAL INFORMATION</h3>
            <i  fa-user fa-5x></i>
        </div>

        <div class="col-sm-4 col-md-4" style="padding: 0px;">
            <p><label>NAME</label></p>
            <p><label>Tedi Ababu</label></p>
            <p><label>BIRTH DATE</label></p>
            <p><label>Jun 20 1993</label></p>
            <p><label>SEX</label></p>
            <p><label>Jun 20 1993</label></p>
            <p class="col-sm-4 col-md-4"><a href="#" class="btn btn-default" role="button">Edit Personal Information</a></p>
        </div>

        <div class="col-sm-4 col-md-4" style="padding-left: 0px;">
            <p><label>SHEBAMILES NUMBER</label></p>
            <p><label>78690949526</label></p>
            <p><label>REDRESS NUMBER</label></p>
            <p><label>78690949526</label></p>
            <p><label>KNOWN TRAVELER NUMBER</label></p>
            <p><label>---</label></p>
        </div>
    </div>


    <div class="row border-bottom">

        <div class="col-sm-4 col-md-4" style="padding-right: 0px;">
            <h3>CONTACT INFORMATION</h3>
            <p><label>EMAIL ADDRESS</label></p>
            <p><label>fisha2008@gmail.com</label></p>
            <p><label>PHONE NUMBER</label></p>
            <p><label>(191) 363-2333</label></p>
            <p><a href="#" class="btn btn-default" role="button">Edit Contact Information</a></p>
        </div>

        <div class="col-sm-4 col-md-4" style="padding: 0px;">
            <h3>ADDRESS</h3>
            <p><label>PRIMARY ADDRESS</label></p>
            <p><label>Bole Road </label></p>
            <p><label>Addis Ababa, AA</label></p>
            <p><label>00001214</label></p>
            <p><a href="#" class="btn btn-default" role="button">Edit Contact Information</a></p>
        </div>

        <div class="col-sm-4 col-md-4" style="padding-left: 0px;">
            <h3>PASSWORD</h3>
            <p><label>CURRENT PASSWORD</label></p>
            <p><label>*************</label></p>
            <p><a href="#" class="btn btn-default" role="button">Edit Password</a></p>
        </div>

    </div>

</div>
