@{
    ViewBag.Title = "Welcome";
}

<style>
    .welcome {
        background-color: #ede7e7 !important;
        border-radius: 25px;
    }

   .callout.callout-info   .timeline{
        background-color: #00c0ef !important;
        border-radius: 25px;
    }
    .timeline > li > .timeline-item {
           border-radius: 25px;
    }
</style>



    <div class="callout callout-info">
        <div class="row">
         
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h4>WELCOME TO Ethiopian Legal Cases management System</h4>
               </div>
           
        </div>
    </div>

    <section class="content">
  
    </section>

